.localInfo {
    display: flex;
    justify-content: space-between;
     
}
.cityOfGlendive{
    background-color: rgb(215, 240, 200);
    padding-left: 15px;
    border-radius: 30px;
    border: 5px solid white;
  
}

.glendivePolice{
    background-color: white;
    padding-left: 15px;
    border-radius: 30px;
   
}

.dawsonCounty{
    background-color: rgb(215, 240, 200);
    padding-left: 15px;
    border-radius: 30px;
    border: 5px solid white;
}

.fosterAPet{
    background-color: white;
    padding-left: 15px;
    border-radius: 30px;

}
.glendiveWebsite{
    text-align: center;
}

.glendiveFacebook{
    text-align: center;
}

.dawsonCountyWebsite{
    text-align: center;
}

.petFacebook{
    text-align: center;
    padding-bottom: 30px;
}

.happyTailsEmail{
    text-align: center;
}
