.app {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 90px 0px;
}
.title {
    font-size: 3em;
    font-family: 'Titillium Web', sans-serif;
}